<footer>
  <small>
    Content licensed using <a href="https://creativecommons.org/publicdomain/zero/1.0/deed" target="_blank">CC0 (Public Domain)</a>.
    <a href="https://twitter.com/brunoalano">Twitter</a>. <a href="https://github.com/brunoalano">Github</a>.
  </small>
</footer>
